body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    color: #1b1b1b;
    background-color: #dde6f0;
}
/*временн*/
.header {
    
}
/*временн*/
.container {
  width: 992px;
  margin: 0 auto;
}
/*временн*/
.header-top {
    min-height: 164px;
    padding-top: 52px;
    /*временн background: rgba(255, 200, 200, 0.5); */
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
    float: left;
    width: 354px;
    height: 141px;
    margin-left: 17px;
}

.contact {
    width: 315px;
    float: left;
    margin-top: 40px;
    margin-left: 60px;;
  /*времен background: rgba(255, 234, 100, 0.5);*/
}
/*временн*/
.telefone {
    text-align: right;
}
/*временн*/
.telefone-number {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    color: #006ab3;
}

.other-info {
    
}

.code {
    font-size: 30px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 15px;
}

.work-time {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

.backet {
    width: 145px;
    padding-left: 25px;
    float: right;
    border-left: 1px solid #c2cbd4;
    line-height: 31px;
}

.backet ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.backet ul a {
    text-decoration: none;
    font-size: 16px;
}

ul .backet-logo:after {
    content: url(../img/backet.png);
    height: 45px;
    width: 51px;
    vertical-align: middle;
    margin-left: 20px;
    display: inline-block;
}

.main-navigation {
    width: 100%;
    background: rgba(255, 234, 100, 0.5);
    overflow: hidden;
    margin-bottom: 10px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    margin-left: -1px;
}

.main-navigation li {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
}

.main-navigation a {
    display: block;
    padding: 9px 24.75px;
    /*background: rgba(255, 200, 200, 0.5);*/
    text-decoration: none;
    color: white;
    background-color: #2ca4d8;
    border-left: 1px solid #9ed0e5;
    box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.75);
}

li .active {
    background-color: #1176b4;
}

/*margin-right: -2px;*/
.main-navigation a:hover {
    background-color: #1176b4;
}

.sub-navigation {
    overflow: hidden;
    height: 60px;
    margin-bottom: 20px;
}

.sub-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: -1px;
}

.sub-navigation a {
    text-decoration: none;
    background-color: #1176b4;
    color: #eee;
    display: block;
    padding: 6px 57.4px;
    text-align: center;
    border-left: 1px solid #9ed0e5;
    box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.75);
}

.sub-navigation a:hover {
    background-color: rgba(17, 118, 180, 0.3);
}

.sub-navigation .one-line {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 14px;
    padding-bottom: 14px;
}

.sub-navigation .first-word {
    font-size: 18px;
}

.sub-navigation .second-word {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.main {
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}

.main .about {
    margin-bottom: 60px;
    margin-top: 107px;
}

.wraper {
    /*убратьbackground-color: rgba(17, 118, 180, 0.3);*/
}

.aside {
    width: 270px;/*подобрать*/
    float: left;
    box-sizing: border-box;
    padding: 2px 5px;
    /*убратьbackground: rgba(255, 200, 200, 0.5);*/
}

.aside .site-search form {
    position: relative;
    width: 260px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.aside .site-search form button {
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
    border: none;
    width: 25px;
    height: 19px;
    padding: 0;
    background-color: transparent;
}

.aside .site-search form button::before {
    content: url(../img/search.png);
}

.aside .site-search form input {
    box-sizing: border-box;
    padding-left: 15px;
    width: 100%;
    height: 31px;
    color: #1b1b1b;
    font-size: 14px;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.29);
    border-radius: 2px;
}

.aside .sale {
    margin: 0 auto;
    width: 221px;
}

.aside .sale .offer {
    text-align: center;
    margin: 0;
    margin-bottom: 7px;
}

.aside .sale h3 a{
    font-size: 16px;
    color: #006ab3;
    text-decoration: none;
}

.aside .sale-item {
    padding-top: 15px;
    /*background: rgba(255, 100, 171, 0.5);*/
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #cecdcc;
    padding-bottom: 45px;
}

.aside .second {
    border-bottom: none;
}

.aside .sale-item a {
    text-decoration: none;
}

.aside .sale-item h3{
    color: #4d4c4c;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.aside .sale-item h3+img {
    width: 170px;
    height: 139px;
}

.aside .sale-item img+img {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.aside .sale .all{
    text-align: center;
}

.aside .sale .all a {
    text-decoration: none;
    color: #006ab3;
    font-size: 14px;
}

.aside .sale .all a::after {
    content: url(../img/arrow.png);
    margin-left: 10px;
}

.socia-group {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 14px;
}

.socia-group img {
    width: 239px;
    height: 290px;
}

.contact-us .our-contact {
    text-align: center;
}

.contact-us .our-contact a {
    color: #006ab3;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #c2c2c5;
    border-top: 1px solid #c2c2c5;
    padding: 5px 0;
}

.articles {
    margin: 0 auto;
    width: 240px;
}

.articles h3{
    box-sizing: border-box;
    height: 32px;
    text-align: center;
    padding-top: 7px;
    background-color: #00a2e8;
    border-radius: 2px;
    color: #eee;
    font-size: 16px;
    font-weight: bold;
}

.articles .article {
    position: relative;
    display: block;
    color: #1b1b1b;
    font-size: 11px;
    line-height: 14px;
    text-decoration: none;
    border-bottom: 1px solid #c6c7c7;
    padding-bottom: 8px;
    margin-top: 16px;
    /*background-image: linear-gradient(to top, rgba(78, 80, 82, 0.05) 0%, rgba(157, 175, 203, 0.05) 50%, rgba(78, 80, 82, 0.05) 100%);*/
}

.articles .article .img-date{
    position: absolute;
    top: 4px;
}

.articles .article .date {
    margin-left: 6px;
}

.articles .article p {
    margin: 0;
    margin-left: 60px;
}

.articles .article .style-text {
    color: #3482ca;
}

.articles .article .article-arrow::after {
    content: url(../img/arrow_article.png);
    margin-left: 5px;
}

.btn-article {
    box-sizing: border-box;
    display: block;
    width: 122px;
    height: 26px;
    background-color: #00a2e8;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin: 26px auto 0;
    padding-top: 5px;
}

.content {
    float: right;
    /*убратьbackground: rgba(255, 234, 100, 0.5);*/
}
/*slider*/
.slider-and-features {
  width: 676px;
  height: 341px;
  background: #eeeeee/*#7c7a7areal#f0f0f0-rgba(255, 234, 100, 0.5)*/;/*убрать*/
  padding: 3px;
  box-sizing: border-box;
}

.slider {
  /*убратьbackground: rgba(255, 100, 171, 0.5);*/
  position: relative;
  width: 670px;
  height: 276px; 
  margin-bottom: 5px;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 1;
  
}

.slider-controls {
  position: absolute;
  /*убратьbackground: rgba(255, 234, 100, 0.5);*/
  width: 100px;
  height: 20px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: white;
  margin: 0 4px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"] {
  background: #a0a0a0;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide:nth-child(1) {
    background-image: url(../img/slyder_img.jpg);
}

.slide:nth-child(2) {
  background-image: url(../img/slyder_img2.jpg);
}

.slide:nth-child(3) {
  background-image: url(../img/slyder_img3.jpg);
}

.slide:nth-child(4) {
  background-image: url(../img/slyder_img4.jpg);
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

#btn-4:checked ~ .slides .slide:nth-child(4) {
  display: block;
}

.features {
  box-sizing: border-box;
  height: 54px;
  display: flex;
  align-items: center;
}

.features div {
    /*background: rgba(255, 234, 100, 0.5);
    flex-grow: 1;*/
    width: 33%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #e0e0e0;
}

.features div:first-child {
  border-left: transparent;
}

.features span {
    /*background: rgba(255, 100, 171, 0.5);*/
    color: #1b1b1b;
    font-size: 14px;
   
}

.features div:nth-child(1) span::before {
    content: url(../img/nadezhnost.png);
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.features div:nth-child(1) span:hover:before {
    content: url(../img/nadezhnost-hover.png);
}

.features div:nth-child(2) span::before {
    content: url(../img/garantiya.png);
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.features div:nth-child(2) span:hover:before {
    content: url(../img/garantiya-hover.png);
}

.features div:nth-child(3) span::before {
    content: url(../img/vozmozhnost.png);
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.features div:nth-child(3) span:hover:before {
    content: url(../img/vozmozhnost-hover.png);
}

/*goods*/
.content .goods {
    width: 676px;
    height: 800px;
    margin-top: 52px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /*justify-content: space-between;space-around
    align-content: space-between;space-around */
}

.goods .item {
    width: 199px;
    height: 242px;
    /*background: rgba(255, 100, 171, 0.5);*/
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.08);
    /*margin-bottom: 35px;*/
}

.goods .item .volume {
    color: #1b1b1b;
    font-size: 16px;
    position: absolute;
    right: 5px;
    bottom: 80px;
}

.goods .item .volume span{
    font-size: 12px;
}

.goods .item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.44);/*ховер*/
}

.goods .item-description {
    display: block;
    color: #1b1b1b;
    text-decoration: none;
    margin-bottom: 2px;
} 

.goods .pic {
    text-align: center;
}

.goods .description h3,
.goods .description p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.goods .description h3 {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.goods .description p {
    font-size: 12px;
}

.goods .price-btn {
    box-sizing: border-box;
    height: 31px;
    background-color: #eeeeee;
    /*opacity: 0.5;*/
    padding-top: 6px;
    padding-left: 10px;
}

.goods .price-btn .price {
    color: #a70a07;
    font-size: 16px;/*padding: 6px 6px 6px 11px;*/
    margin-right: 23px;
}

.goods .price-btn .price span {
    font-size: 12px;
}

.goods .price-btn .btn {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 17px;
    background-color: #6288ac;
    padding: 2px 10px;
}

.goods .price-btn .btn:hover {
    background-color: #ddbe8f;
}

/*about*/

/*Footer*/

.footer {
    height: 200px;
    background: #3482ca;
    color: #e5e5e5;
    border-top: 12px solid #d4e8f3;
    box-sizing: border-box;
    padding-top: 50px;
}

.footer .block {
    /*background: rgba(255, 100, 171, 0.5);*/
    float: left;
}

.footer .contact-info {
    margin-left: 15px;
}

.footer .footer-menu {
    margin-left: 50px;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.footer ul a {
    text-decoration: none;
    color: #e5e5e5;
}

.footer .payment-methods {
    margin-left: 60px;
}